<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form th:action="@{/app/matchHistory/completMatch}" th:object="${sets}" method="post">-->
<!--    <table>-->

<!--        <tr>-->
<!--            <th th:text="${matchToComplete.userZakladajacy.userName}"></th>-->
<!--            <th th:text="${matchToComplete.userPrzyjmujacy.userName}"></th>-->
<!--            <th><input type="number" th:field="*{}"></th>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <table th:each="JedenSet, stat:${sets}">-->
<!--&lt;!&ndash;        <tr th:text="Set+${itemStat.index+1}"></tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr th:text="Set+${stats.index+1}">&ndash;&gt;-->
<!--            <td><input type="number" th:field="*{Sets}""></td>-->


<!--        </tr>-->


<!--     <td>  <input type="number" th:field="*{set}"></td>-->
<!--        <td><input type="number" th:field="*{sets.pktZakladajacy}"></td>-->
<!--        <td><input type="number" th:field="*{sets.pktPrzyjmujacy}"></td>-->
<!--        <td><input type="number" th:field="*{sets[__${itemStat.index+1}__].pktPrzyjmujacy}"></td>-->


<!--    </table>-->
</form>
    <form th:action="@{/app/matchHistory/completMatch}"   th:object="${matchToComplete}" method="post">
        <table>

            <tr>
                <th th:text="*{userPrzyjmujacy.userName}"></th>
                <th th:text="*{userZakladajacy.userName}"></th>

            </tr>
        </table>
        <table th:each="sets, itemStat:*{sets}">


            <tr  th:text="Set +${itemStat.index+1}"></tr>
            <tr>
            <td><input type="number" th:field="*{sets[__${itemStat.index}__].pktPrzyjmujacy}"></td>
            <td><input type="number" th:field="*{sets[__${itemStat.index}__].pktZakladajacy}"></td>
            </tr>
            <input type="hidden" th:field="*{userPrzyjmujacy}">
            <input type="hidden" th:field="*{userZakladajacy}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{sport}">
            <input type="hidden" th:field="*{accepted}">
            <input type="hidden" th:field="*{dateMatchTotal}">
        </table>
        <button type="submit">register</button>

    </form>


</body>
</html>