<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</form>
    <form th:action="@{/app/matchHistory/completMatch}"   th:object="${matchToComplete}" method="post">
        <table>

            <tr>
                <th th:text="*{userPrzyjmujacy.userName}"></th>
                <th th:text="*{userZakladajacy.userName}"></th>

            </tr>
        </table>
        <table th:each="sets, itemStat:*{sets}">


            <tr  th:text="Set +${itemStat.index+1}"></tr>
            <tr>
            <td><input type="number" th:field="*{sets[__${itemStat.index}__].pktPrzyjmujacy}"></td>
            <td><input type="number" th:field="*{sets[__${itemStat.index}__].pktZakladajacy}"></td>
            </tr>
            <input type="hidden" th:field="*{userPrzyjmujacy}">
            <input type="hidden" th:field="*{userZakladajacy}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{sport}">
            <input type="hidden" th:field="*{acceptedMatch}">
            <input type="hidden" th:field="*{dateMatchTotal}">
        </table>
        <button type="submit">register</button>

    </form>
<!--Dodaj hidden club -->


</body>
</html>